APP_NAME=duckduckgo-api
APP_ENV_NAME=lefuturiste-dev
APP_DEBUG=1

#Twig cache path, if your want don't have cache write false
TWIG_CACHE=false

LOG_DISCORD=1
LOG_PATH=../log
LOG_LEVEL=INFO
LOG_DISCORD_WH=https://discordapp.com/api/webhooks/349907239303249930/QDPTQxUjaiD3wTrGH14eYa2jyVmdmxG1UNjaOAgP_lmqMEV_-KSq5kt7TG9A5A8GEO10
